/* VARIABLES */
:root {
    --text: white;
    --background: rgb(4, 4, 4);
    --margin: 30px;
    --font: 'Urbanist', sans-serif;
    --font2: 'Open Sans Condensed', sans-serif;
    --font3: 'Quicksand', sans-serif;

    --fade-one: #a7adba;
    --fade-two: #65737e;
    --fade-three: #343d46;
    --fade-four: #343d46;
}

/* WILDCARD */
* {
    color: var(--text);
    cursor: default;
}

/* ELEMENT SELECTORS */
a {
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none!important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font);
    font-size: 350%;
    letter-spacing: .5rem;
}

ul,
li {
    display: inline;
    list-style: none;
    margin: 0 7px;
    padding: 0;
    font-family: var(--font3);
    font-size: 130%;
}

/* CLASS SELECTORS */

.header-section {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 75px;
    width: 100vw;
    z-index: 2;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header-wrapper {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-text {
    position: absolute;
}

.name-text5 {
    animation: fadeInHeader ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
}

.name-text4 {
    color: transparent;
    text-shadow:
        -0.03em -0.03em 0 var(--fade-four),
        0.03em 0.03em 0 var(--fade-four);
    
    animation: fadeInShadow ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    opacity: 0;
}

.name-text3 {
    color: transparent;
    text-shadow:
        -0.06em -0.06em 0 var(--fade-three),
        0.06em 0.06em 0 var(--fade-three);

    animation: fadeInShadow ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    opacity: 0;
}

.name-text2 {
    color: transparent;
    text-shadow: 
       -0.09em -0.09em 0 var(--fade-two),
       0.09em 0.09em 0 var(--fade-two);

    animation: fadeInShadow ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    opacity: 0;
}

.name-text1 {
    color: transparent;
    text-shadow:
        -0.1em -0.1em 0 var(--fade-one),
        0.1em 0.1em 0 var(--fade-one);

    animation: fadeInShadow ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-align: right;
    margin: 0 var(--margin) 0 2rem;
}

.nav-bar-links{
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem 0;
    text-align: right;
}

.nav-bar-left {
    display: flex;
    flex-direction: row;
    width: 300px;   
    margin-left: var(--margin);
}

.fa-bell,
.arrow-down,
.link-hover,
a,
img {
    cursor: pointer;
}

.media-links {
    margin-left: var(--margin);
    display: none;
}

.fab {
    margin: 0 7px;
}

.arrow-down {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    margin-top: 20px;
    opacity: 0;
}

.work,
.contact,
.about {
    display: none;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    z-index: 2;
}

.about {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(12,24,48,1) 90%);
}

.about-text {
    font-family: var(--font);
    font-size: 225%;
    padding: 0 10%;
    color: black;
}

.about-header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 15%;
    height: 80px;
    padding: 0 4%;
}

.about-bio-wrapper {
    position: absolute;
    bottom: 12%;
    left: 5%;
    height: 50%;
    width: 43%;
    background: transparent;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

.about-bio-wrapper-right {
    bottom: 8%;
    right: 5%;
    left: auto;
    height: 45%;
    width: 38%;

    animation-delay: 2s;
}

.about-bio-header-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 70px;
    width: 90%;
    background: grey;
    z-index: 1;
}

.about-bio-header-wrapper-right {
    left: 0;
    right: auto;
    height: 55px;
}

.about-bio-header {
    font-size: 200%;
    background: transparent;
}

.about-bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 90%;
    background: white;
}

.about-bio-container-right {
    right: 0;
    left: auto;
}

.work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 40px;
}

.carousel-indicators {
    position: static;
    background: var(--background);
    border-radius: 50px;
    width: 200px;
}

.carousel-item {
    position: relative;
}

.carousel-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 30px;
    right: 0;
    width: 350px;
    padding: 5px 10px;
    font-family: var(--font);
    font-size: 130%;
    text-align: center;
    line-height: 1.2;
    border-radius: 20px 0 0 20px;
    background: rgba(0, 0, 0, 0.774);
}

.work-mobile,
.work-mobile-header {
    display: none;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form-wrapper-inner,
.contact-info-wrapper {
    width: 400px;
}

.contact-info-wrapper {
    text-align: center;
}

.form-wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.submit-button {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-top: 5px;
}


.contact-header,
.contact-label {
    font-family: var(--font);
    font-size: 180%;
    margin-top: 10px;
}

.contact-header-cont {
    margin-top: 80px;
}

.submit-button {
    font-family: var(--font);
    font-size: 130%;
    text-align: left;
    color: var(--background);
    border: 1px solid black;
    border-radius: 5px;
}

.submit-input__textarea {
    height: 10rem;
    resize: none;
}

.others-links {
    margin-top: 30px;
    padding: 20px 40px;
    border: 1px solid white;
}

.contributors {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.contact-info {
    display: block;
    margin: 3px 0;
}

.divider {
    background: white;
    width: 2px;
    height: 100%;
}

.cont-1 {
    animation-delay: 1000ms;
}

.cont-2 {
    animation-delay: 1500ms;
}

.cont-3 {
    animation-delay: 2000ms;
}

.cont-4 {
    animation-delay: 2500ms;
}

.repo-link {
    font-family: var(--font);
    text-align: center;
}