/* VARIABLES */
:root {
    --text: white;
}

/* WILDCARD */
* {
    color: var(--text);
}

/* ELEMENT SELECTORS */
html {
    scroll-behavior: smooth;
    background-color: black;
}

h1 {
    font-size: 350%;
    color: var(--text);
}

ul,
li {
    display: inline;
    list-style-type: none;
    color: var(--text);
}

/* CLASS SELECTORS */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* BUTTON EFFECTS */

/* MEDIA QUERIES */